<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8130AndrewDrake.EtherDreamAbstract" Version="1.0.0.0" Publisher="CN=EE1A2B71-2F04-412E-876C-D4E739DA1520" />
  <Properties>
    <DisplayName>Ether Dream Abstract</DisplayName>
    <PublisherDisplayName>Andrew Drake</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="metro\default.html">
      <VisualElements DisplayName="Ether Dream Abstract" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Controller for EtherDream laser DAC abstract pattern generator." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>